<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration" />
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <containers>
      <container>
        <types>
          <!--type type="LogInService.Interfaces.ICardPresenceChecker, LogInService.Interfaces" mapTo="XCardPresenceChecker.XCardPresenceChecker, XCardPresenceChecker"></type-->
          <!--type name="v8" type="LogInService.Interfaces.Car.IEngine, LogInService.Interfaces" mapTo="XCardPresenceChecker.V8Engine, XCardPresenceChecker"></type-->
          <type name="l1" type="AMC.Core.Abstractions.Logger.ILoggerFactory, AMC.Core.Abstractions.Logger" mapTo="AMC.Core.Log4Net.Log4NetFactory, AMC.Core.Log4Net"></type>
          <!--<type name="c1" type="AMC.Core.Abstractions.Cache.Repository.ICacheRepository, AMC.Core.Abstractions.Cache" mapTo="AMC.Core.BaseCache.Cache, AMC.Core.BaseCache"></type>-->
          <!--<type name="s1" type="AMC.Core.Abstractions.DataProvider.TransactDataStorage, AMC.Core.Abstractions.DataProvider" mapTo="AMC.Core.Data.MSSQLDataProvider.MSSQLDataStoage, AMC.Core.Data.MSSQLDataProvider"></type>-->
        </types>
      </container>
    </containers>
  </unity>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Container" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.10.1.0" newVersion="5.10.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
